h1 {
    color: blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
}

.imagen img {
    width: 20%;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(54, 141, 240);
    box-sizing: border-box;
    background-color: aqua;
    border: 5px solid lightseagreen;
    width: 350px;
}

.series {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: rgb(159, 59, 253);
    box-sizing: border-box;
    background-color: rgb(204, 153, 252);
    border: 2px dotted rgb(165, 69, 255);
    width: 350px;
}

.peliculas {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: rgb(45, 121, 1);
    box-sizing: border-box;
    background-color: rgb(80, 163, 31);
    border: 2px dotted rgb(72, 185, 6);
    width: 350px;
    margin-top: 10px;
}

.perfil h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: rgb(214, 118, 214);
}

.perfil p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(216, 134, 216);
}

.perfil {
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(238, 193, 238);
    border: 3px double rgb(202, 52, 202);
    width: 350px;
    margin-top: 10px;
}

h4 {
    color: rgb(209, 11, 11);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    box-sizing: border-box;
    background-color: rgb(255, 193, 193);
    width: 350px;
}